<main>

	<h2 class="mainHeader">Share your favorite recipe</h2>
    <ul>
        <p class="mainHeader">Tell us what it's called...</p>
        <p class="mainHeader">What's in it...</p>
        <p class="mainHeader">How much it makes...</p>
        <p class="mainHeader">And where to find it!</p>
    </ul>
	
 
    <form action="/recipes/{{recipe._id}}?_method=PUT" method="POST"></br>

        <label for="name">Recipe Name</label>
        <input type="text" name="name" value="{{recipe.name}}">

        {{#each recipe.ingredients}}
            <label for="ingredients">Ingredient</label>
            <input type="text" name="ingredients" value="{{this.name}}">
        {{/each}}

        <label for="url">Recipe Link</label>
        <input type="text" name="url" value="{{recipe.url}}">

        <label for="url">How many servings does it make?</label>
        <input type="text" name="servingNumber" value="{{recipe.servingNumber}}">

        <input type="submit" value="Submit Changes" class="submitButton">

    </form>
    </br>
    <a href="/" class="returnAnchor">Return to Home Page</a>
    
    
</main>