<div class="row">
    <div class="col s4 card amber darken-4">
        <h1>Recipe List</h1>
        {{#each recipes}}
            <div>
                <ul>
                    <li><a class="recipeLinks" href="#">{{this.name}}</li></a>
                    </br>
                </ul>
        
            </div>
        {{/each}}
        <a class="recipeLinks" href="#">Share your favorite recipe...</a>
    </div>


    <div class="col s4 card amber darken-4">
        
            <h1>Pantry Check!</h1>
            {{#each recipes}}
                    <ul>
                        <h5 class="recipeTitle">{{this.name}}</h5>
                        </br>
                    </ul>
                    {{#each ingredients}}
                        <div>
                            <ul>
                                <li> {{this.name}}</li>                          
                            </ul>      
                        </div>
                    {{/each}}
                    <a href="{{this.url}}">Passed the pantry test? Get to cooking!</a>
                    </br>
            {{/each}}
        
    </div>


    <div class="col s4 card amber darken-4"> 
        <h1>How many lunches?</h1>
        {{#each recipes}}
            <div>
                <h3>{{this.servingNumber}}</h3>
                
            </div>
            </br>
        {{/each}}
    </div>
</div>
