<div class="row">
    <div class="col s4 card amber darken-4" id="left">
        <h2>Recipe List</h2>
{{!-- When each recipe is added to the div, it gets assigned a 
unique class which will correspond to a list of ingredients, so
that when it's clicked, only the ingredients and servings for
that recipe will display--}}
        {{#each recipes}}
            {{!-- <span></span> --}}
            <div>
                <ul>
                    <li><a class="recipeLinks" href="recipes/{{this._id}}">{{this.name}}</li></a>
                    
                    <p class="viewIngredients" data-recipe="{{@index}}"><i class="ingredients">View ingredients and # of servings</i></p>
                    </br>
                </ul>
        
            </div>
        {{/each}}
        <a class="recipeLinks" href="recipes/new">Share your favorite recipe...</a>
    </div>

    <div class="col s4 card amber darken-4">
        
            <h2>Pantry Check!</h2>

            <div class="recipeText">
                {{#each recipes}}
                        <div class="recipe" id="{{@index}}">
                            <ul>
                                <h5 class="recipeTitle">{{this.name}}</h5>
                                </br>
                            </ul>
                             <form action="#">
                            {{#each ingredients}}
                                   <p class="inputText">
                                    <input type="checkbox" id="{{this._id}}"/>
                                    <label for="{{this._id}}" class="ingredientLabel">{{this.name}}</label>
                                   </p>
                            {{/each}}
                            </form>
                            </br>
                            <a href="{{this.url}}">Passed the pantry test? Get to cooking!</a>
                            </br>
                        </div>
                {{/each}}
            </div> 
    </div>


    <div class="col s4 card amber darken-4"> 
        <h2>How many lunches?</h2>
        {{#each recipes}}
            <div class="servings" id="{{@index}}">
                <div  id="servingNumber">
                    <h3>{{this.servingNumber}}</h3>
                    
                </div>
                </br>
            </div>
        {{/each}}
    </div>
</div>
